<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Article</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div>Add Article</div>
        <form method="POST" action="/articles/add" th:action="@{/articles/add}" th:object="${newArticle}">
            <p>Title: <input type="text" name="title" th:field="*{title}"/></p>
            <p>Content: <textarea name="content" th:field="*{content}"></textarea></p>
            <!--<p>Publication date: <input type="date" name="publicatedDate" th:field="*{publicatedDate}"/></p>-->
            <p><input type="submit" value="Create"/></p>
        </form>
    </body>
</html>
