<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Article edit</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div>Article</div>
        <form method="POST" th:action="@{/articles/{id}/edit(id=${article.id})}" th:object="${article}">
            <div class="article">

                <div class="title">
                    <input type="text" th:field="*{title}"/>
                </div>

                <div class="new_info">
                    <div class="new_date">
                        <span th:text="*{#dates.format(date, 'dd-MMM-yyyy HH:mm')}">Date</span>
                    </div>
                    <div class="new_author">
                        <span th:text="*{user.userDetails.name}">Name Surname</span>
                    </div>
                </div>

                <div class="content">
                    <textarea th:field="*{content}"></textarea>
                </div>

            </div>
            <input type="submit" value="Save"/>
        </form>
        <hr/>

        <div>
            <span>Comments</span>
            <div class="comments">
                <div class="comment" th:each="comment : ${article.comments}">
                    <div class="name">
                        <span th:if="${comment.userDetails}" th:text="${comment.userDetails.surname + ' ' + comment.userDetails.name}">Name Surname</span>
                    </div>
                    <div class="date">
                        <span th:text="${#dates.format(comment.creationDate, 'dd-MMM-yyyy HH:mm')}"></span>
                    </div>
                    <div class="comment">
                        <span th:text="${comment.comment}"></span>
                    </div>
                    <br/>
                    <form method="POST" th:action="@{/articles/{article_id}/comments/{comment_id}/delete(article_id=${article.id}, comment_id=${comment.id})}">
                        <input type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>


        <p><a href="/articles" th:href="@{/articles/{id}(id=${article.id})}">Back</a></p>
    </body>
</html>
