<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Articles</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div>Articles</div>
        
        <div class="articles" th:each="article : ${viewArticles.articles}">
            <div class="article">
                
                <div class="title">
                    <h3 th:text="${article.title}">Title</h3>
                </div>
                
                <div class="new_info">
                    <div class="new_date">
                        <span th:text="${#dates.format(article.date, 'dd-MMM-yyyy HH:mm')}">Date</span>
                    </div>
                    <div class="new_author">
                        <span th:text="${article.userDetails.name}">Name Surname</span>
                    </div>
                </div>
                
                <div class="content">
                    <span th:text="${article.content}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a malesuada erat. Praesent facilisis, tellus in euismod luctus, justo neque sodales massa, et sollicitudin diam sapien in elit. Aenean consequat leo vitae lorem elementum, non laoreet risus tincidunt. Cras faucibus non nibh sit amet fermentum. Nulla feugiat leo massa, vel. </span>
                </div>
                
                <a th:href="@{/articles/{id}(id=${article.id})}" href="#">More...</a>
            </div>
        </div>
        
        <div th:if="${#lists.size(viewArticles.pagination.pageNumbers)} > 1">
            <ul th:each="pageNumber : ${viewArticles.pagination.pageNumbers}">
                <li><a th:href="@{/articles(pagination.currentPage=*{pageNumber}, pagination.elementsPerPage=*{viewArticles.pagination.elementsPerPage})}" th:text="${pageNumber}">1</a></li>
            </ul>
        </div>
        
        <p><a href="/" th:href="@{/}">Back</a></p>
        
    </body>
</html>
