<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Article</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <th:block th:insert="~{skeleton/menu :: menu}"></th:block>
        <div class="title"><span>Article</span></div>
        
        <th:block th:if="${param.error}">
            <br/>
            <div class="title"><span>You cannot edit this article</span></div>
        </th:block>
        
        <table class="tables tab_article">
            <thead>
                <tr>
                    <td class="t_head center_align">Title</td>
                    <td class="t_head center_align">Date</td>
                    <td class="t_head center_align">Name Surname</td>
                </tr>
            </thead>
            <tbody>
                <th:block>
                    <tr>
                        <td th:text="${article.title}">Title</td>
                        <td th:text="${#dates.format(article.date, 'dd-MMM-yyyy HH:mm')}">Date</td>
                        <td th:if="${article.user.userDetails}" th:text="${article.user.userDetails.surname + ' ' + article.user.userDetails.name}">Name Surname</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="t_head center_align">Content</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="${article.content}">Content</td> 
                    </tr>
                    <tr th:if="${#authentication.name == article.user.email}">
                        <td colspan="3">
                            <form method="GET" th:action="@{/articles/{id}/edit(id=${article.id})}">
                                <input type="submit" value="Edit" />
                            </form>
                            <form method="POST" th:action="@{/articles/{id}/delete(id=${article.id})}">
                                <p><input type="submit" value="Delete"/></p>
                            </form>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <table class="tables tab_article_comment">
            <caption>Comments</caption>
            <thead>
                <tr>
                    <td class="t_head center_align">Name Surname</td>
                    <td class="t_head center_align">Date</td>
                    <td class="t_head center_align">Comment</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="comment : ${article.comments}">
                    <td th:if="${comment.userDetails}" th:text="${comment.userDetails.surname + ' ' + comment.userDetails.name}">Name Surname</td>
                    <td th:text="${#dates.format(comment.creationDate, 'dd-MMM-yyyy HH:mm')}">Date</td>
                    <td th:text="${comment.comment}">Comment</td>
                </tr>
                <tr sec:authorize="hasRole('CUSTOMER_USER')">
                    <td colspan="3">
                        <a href="/articles" th:href="@{/articles/{id}/comments(id=${article.id})}">Add comment</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <br/>
        <div class="back_btn"><a href="/articles" th:href="@{/articles}">Back</a></div>
    </body>
</html>
