<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Basket</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <th:block th:insert="~{skeleton/menu :: menu}"></th:block>
        <div class="title"><span>Basket</span></div>
        <form method="POST" th:action="@{/baskets/{id}/edit(id = ${basket.id})}" th:object="${basket}">
            <table class="tables tab_basket_edit">
                <thead>
                    <tr>
                        <td class="t_head center_align">Number</td>
                        <td class="t_head center_align">Status</td>
                        <td class="t_head center_align">Name</td>
                        <td class="t_head center_align">Customer Id</td>
                        <td class="t_head center_align">Customer Phone</td>
                        <td class="t_head center_align">Amount</td>
                        <td class="t_head center_align">Price</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="*{id}">Number</td>
                        <td>

                            <select th:field="*{orderStatus}">
                                <option value="NEW">New</option>
                                <option value="IN_PROGRESS">In progress</option>
                                <option value="DELIVERED">Delivered</option>
                                <option value="REJECTED">Rejected</option>
                            </select>

                        </td>
                        <td th:text="*{orderedItem.name}">Name</td>
                        <td th:text="*{userId}">Customer Id</td>
                        <td th:text="*{userPhone}">Customer Phone</td>
                        <td th:text="*{orderedItem.amount}">Amount</td>
                        <td th:text="*{orderedItem.price * orderedItem.amount}">Price</td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <input type="submit" value="Save"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="back_btn"><a href="/baskets" th:href="@{/baskets}">Back</a></div>
    </body>
</html>
