<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add comment</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Add comment</div>
        <form method="POST" th:action="@{/articles/{id}/comments(id=${new_comment.articleId})}" th:object="${new_comment}">
            <textarea th:field="*{comment}"></textarea>
            <br/>
            <input type="submit" value="Add"/>
        </form>
    </body>
</html>
