<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <th:block th:insert="~{skeleton/menu :: menu}"></th:block>
        <div class="title"><span>Error</span></div>
        <br/>
        <div class="back_btn"><a href="/" th:href="@{/}">Back to Main Menu</a></div>
    </body>
</html>
