<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Item</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <th:block th:insert="~{skeleton/menu :: menu}"></th:block>
        <div class="title"><span>Item</span></div>

        <table class="tables tab_item" th:object="${item}">
            <thead>
                <tr>
                    <td class="t_head center_align">Number</td>
                    <td class="t_head center_align">Name</td>
                    <td class="t_head center_align">Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="*{uuid}">Number</td>
                    <td th:text="*{name}">Name</td>
                    <td th:text="*{price}">Price</td>
                </tr>
                <tr>
                    <td class="t_head center_align" colspan="3">Description</td>
                </tr>
                <tr>
                    <td colspan="3" th:text="*{itemDetails.description}">Description</td>
                </tr>
                <tr sec:authorize="hasRole('CUSTOMER_USER')">
                    <td colspan="3">
                        <form method="POST" th:action="@{/items/{uuid}/buskets(uuid=${item.uuid})}" th:object="${new_basket}">
                            <input type="number" placeholder="amount" th:field="*{amount}"/>
                            <input type="submit" value="Add to basket"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="back_btn"><a href="/items" th:href="@{/items}">Back</a></div>
    </body>
</html>
