<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <div class="login_form">
            <div class="errors">
                <p th:if="${param.error}">Username or password has error</p>
                <p th:if="${param.logout}">You are logout</p>
            </div>
            <div class="form">
                <form method="POST" th:action="@{/login}">
                    <p>Email</p>
                    <p><input type="text" name="username"/></p>
                    <br/>
                    <p>Password</p>
                    <p><input type="password" name="password"/></p>
                    <br/>
                    <input type="submit" value="Log In"/>
                </form>
            </div>
        </div>
    </body>
</html>
