<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Страница доступа</div>
        <th:block th:if="${param.error}">
            <p>Username or password has error</p>
        </th:block>
        <th:block th:if="${param.logout}">
            <p>You are logout</p>
        </th:block>
        <form method="POST" th:action="@{/login}">
            <span>Email: <input type="email" name="username"/></span><br/>
            <span>Password: <input type="password" name="password"/></span><br/>
            <input type="submit" value="Log In"/>
        </form>
    </body>
</html>
