<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div>Profile</div>
        <div th:object="${user_profile}">
            <p>Name: 
                <input type="text" placeholder="Name" th:value="*{name}" disabled=""/>
            </p>
            <p>Surname: 
                <input type="text" placeholder="Surname" th:value="*{surname}" disabled=""/>
            </p>
            <p>Address: 
                <input type="text" placeholder="Address" th:value="*{address}" disabled=""/>
            </p>
            <p>Phone: 
                <input type="text" placeholder="Phone" th:value="*{phone}" disabled=""/>
            </p>
            <form method="GET" th:action="@{/profile/edit}">
                <input type="submit" value="Edit" />
            </form>
            <form method="POST" th:action="@{/profile/change_password}" th:object="${new_password}">
                <p>Password: 
                    <input type="text" placeholder="Password" th:field="*{password}"/>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">pass error</span>
                </p>
                <p>Confirm password: 
                    <input type="text" placeholder="Confirm password" th:field="*{passwordConfirm}"/>
                    <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">pass error</span>
                </p>
                <input type="hidden" th:field="*{id}"/>
                <input type="submit" value="Change password"/>
            </form>
        </div>
        <p><a href="/" th:href="@{/}">Back</a></p>
    </body>
</html>
