<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User add</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Добавление пользователя</div>
        <form method="POST" th:action="@{/users/add}" th:object="${new_user}">
            <p>Фамилия: <input type="text" name="surname" placeholder="Фамилия" th:field="*{surname}"/></p>
            <p>Имя: <input type="text" name="name" placeholder="Имя" th:field="*{name}"/></p>
            <p>Отчество: <input type="text" name="patronymic" placeholder="Отчество" th:field="*{patronymic}"/></p>
            <p>Email: <input type="text" name="email" placeholder="Email" th:field="*{email}"/></p>
            <p>
                <select name="role" th:field="*{role}">
                    <option value="ADMINISTRATOR">Administrator</option>
                    <option value="SALE_USER">Sale User</option>
                    <option value="CUSTOMER_USER">Customer User</option>
                    <option value="SECURE_API_USER">Secure API User</option>
                </select>
            </p>
            <input type="submit" value="Add"/>
        </form>
    </body>
</html>
